body {
	/*background-color: #fff;
	 color: #333;
	 */
	background-color: #2D3335;
	color: #FFF;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

body, p, ol, ul, td {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13px;
	line-height: 18px;
}

pre {
	background-color: #eee;
	padding: 10px;
	font-size: 11px;
}

a {
	color: #FFF;
}
a:visited {
	color: #FFF;
}
a:hover {
	color: #FFF;
}

div.field, div.actions {
	margin-bottom: 10px;
}

#notice {
	color: green;
}

.field_with_errors {
	padding: 2px;
	background-color: red;
	display: table;
}

#error_explanation {
	width: 450px;
	border: 2px solid red;
	padding: 7px;
	padding-bottom: 0;
	margin-bottom: 20px;
	background-color: #f0f0f0;
}

#error_explanation h2 {
	text-align: left;
	font-weight: bold;
	padding: 5px 5px 5px 15px;
	font-size: 12px;
	margin: -7px;
	margin-bottom: 0px;
	background-color: #c00;
	color: #fff;
}

#error_explanation ul li {
	font-size: 12px;
	list-style: square;
}

:focus {
	outline: 0;
}
.sliderContainer {
	width: 707px;
	height: 253px;
	position: relative;
	margin: 0 0 0 445px;
}
#slider {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	width: 552px;
	height: 252px;
	background: #FFF;
	border: 5px solid #FFF;
	overflow: hidden;
	position: relative;
	margin: 0 0 0 70px;
}
#slider .slide {
	width: 552px;
	height: 252px;
	float: left;
}
.prev, .next {
	display: block;
	height: 56px;
	width: 56px;
	position: absolute;
	top: 253px;
}
.prev {
	background: url('../images/slider-prev.png') no-repeat;
	background-position: 0 0;
	left: 0;
}
.prev:hover {
	background-position: 0 -56px;
}
.next {
	background: url('../images/slider-next.png') no-repeat;
	background-position: 0 0;
	right: 0;
}
.next:hover {
	background-position: 0 -56px;
}

#user_nav {
	text-align: right;
	margin-bottom: 12px;
}

h3 {
	font-weight: normal;
}

.css3button {
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-size: 12px;
	color: #ffffff;
	padding: 10px 20px;
	outline-width: 20px;
	background: -moz-linear-gradient(
	top,
	#2d3335 0%,
	#39484d 23%,
	#2d3335);
	background: -webkit-gradient(
	linear, left top, left bottom,
	from(#2d3335),
	color-stop(0.23, #39484d),
	to(#2d3335));
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
	border: 2px solid #ffffff;
	-moz-box-shadow: 0px 3px 11px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(45,51,53,1);
	-webkit-box-shadow: 0px 3px 11px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(45,51,53,1);
	box-shadow: 0px 3px 11px rgba(000,000,000,0.5), inset 0px 0px 1px rgba(45,51,53,1);
	text-shadow: 0px -1px 0px rgba(000,000,000,0.2), 0px 1px 0px rgba(255,255,255,0.3);
}

#wrapper {
	margin: 0 auto;
	width: 1000px;
}

#tapa {
	float: left;
	width: 271px;
	height: 417px;
	text-align: center;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 5px solid #FFF;
	/* margin-bottom: 20px; */
	padding-top: 13px;

}

#titulo {
	text-align: center;
	float: left;
	width: 674px;
	padding-left: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 5px solid #FFF;
	margin-bottom: 29px;
	margin-left: 20px;
}

#botonMonono1 {
	position: relative;
	margin-top: 11px;
}

#botonMonono2 {
	position: relative;
	margin-top: 28px;
}

#tabla {
	position: relative;
	margin-top: 150px;
}

#contacto {
	position: relative;
	margin-top: 20px;
}
